# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore all compilation files.
*/lex.yy.c
*/y.tab.c
*/y.tab.h